server:
  port: 8080

spring:
  application:
    name: mes-gateway
  cloud:
    gateway:
      default-filters:
        - name: AddRequestIdFilter
      globalcors:
        cors-configurations:
          '[/**]':
            allowed-origins: "*"
            allowed-methods: "*"
            allowed-headers: "*"

resilience4j:
  circuitbreaker:
    configs:
      default:
        failure-rate-threshold: 50
        wait-duration-in-open-state: 10s
        sliding-window-size: 10
        minimum-number-of-calls: 5
  timelimiter:
    configs:
      default:
        timeout-duration: 3s

logging:
  level:
    com.mes.gateway: DEBUG
    org.springframework.cloud.gateway: DEBUG
